@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(Assets/bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 35vh;
}

#geneInfo, #geneApplications {
    width: 90%;
    max-width: 900px;
    padding: 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    overflow-y: auto;
    color: #000;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Input styling */
#geneSearch {
    padding: 10px;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-top: 50px;
    width: 100%;
    max-width: 400px;
}

#searchBtn {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #0dafaf;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#searchBtn:hover {
    box-shadow: 0 0 3.75px rgba(10, 155, 212, 0.8), 0 0 9.375px rgba(10, 155, 212, 0.8), 0 0 14.0625px rgba(10, 155, 212, 0.8);
}

#searchBtn:active {
    transform: scale(0.98);
}

footer {
    text-align: center;
    padding: 20px;
    color: #fff;
}

/* Media Queries for Responsiveness */

/* Tablet view adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    #geneSearch {
        width: 90%;
        max-width: 350px;
    }
    #searchBtn {
        width: 90%;
        max-width: 350px;
        margin-top: 10px;
    }
    #geneInfo {
        padding: 15px;
    }
}

/* Mobile view adjustments */
@media (max-width: 480px) {
    h1 {
        font-size: 2.5rem;
    }

    /* Full width and stacked layout for search box and button on mobile */
    #geneSearch, #searchBtn {
        width: 90%;
        max-width: none;
        margin: 5px 0;
    }
    
    #searchBtn {
        margin-top: 0;
    }
    
    main {
        padding: 10px;
    }
    #geneInfo, #geneApplications {
        width: 90%;
        padding: 15px;
    }
    footer {
        font-size: 0.9rem;
    }
}

.button {
    display: inline-block; /* Ensures the buttons are displayed inline */
    padding: 10px 20px; /* Add padding for better spacing */
    margin: 5px; /* Add some margin between buttons */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    background-color: #4793e4cb; /* Bootstrap primary color */
    color: white; /* Text color */
    text-align: center; /* Center text */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
}

.button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}
